{% extends 'menu.html' %} {% block content %}
<div id="leaderboard" class="leaderboard-container">
  <h5 class="text-center leaderboard-title">🏆 Leaderboard</h5>
  <ul class="list-group list-group-flush leaderboard-list">
    {% if jogadores %}
      {% for jogador in jogadores %}
      <li
        class="list-group-item leaderboard-item {% if forloop.first %}top-player{% elif forloop.counter == 2 %}second-player{% elif forloop.counter == 3 %}third-player{% endif %}">
        <span class="player-name">{{ jogador.nome }}</span>
        <span class="player-score">{{ jogador.pontuacao }} pts</span>
      </li>
      {% endfor %}
    {% else %}
    <li class="list-group-item leaderboard-item">Nenhum jogador registrado ainda.</li>
    {% endif %}
  </ul>
    </div>

{% endblock %}
